/*This is the styling for this whole [universal] document*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;

    /* This is the color for the body*/
    color: #39a6b2
}

header {
    /* This is the styling for the header content*/
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    /*This is the styling for the Run Buddy*/
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    /*This is the styling of the anchors*/
    color: #fce138
    text-decoration: none;
}

/*This is the styling section for the nav*/
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

 /*This is the styling for the footer*/
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/*Styling for the made with love...*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/*Styling for the readu our privacy and &copy*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
/*styling for the &copy*/
footer a {
    color: #024e76;
}


section {
    padding: 60px;
}

/*Hero -Parent styling section*/
.hero {
    background-image: url("../image/hero-bg.jpg");
    height:600px;
    /*This is the formatting of the hero image*/
    background-size: cover;
    background-position: center;
    position: relative;

}

/*Hero Sign up Box Form*/
.hero-form {
    font color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    
    /*this section gives style to the sign up form box*/
    border-color: #024e76;
    border-style: solid;
    border-width: 3px;

    /*this property line is the same as written above with same fx*/
    /*note to learner- border property value can be written in-line like this*/
    /*border: solid 3px #024e76;*/

    /*Below brings positioning style to the sign up box*/
    position: absolute;
    bottom: 120px;
    right: 140px;

}
.hero-form h3 {
    margin: 0px
    font-size: 24px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

    /*styling for the input in the sign up box*/
.form-input {
    border: 1px solid #023e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}